################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inventory.System/Inventory.Api/obj
*.suo
